:root{

    --facebook_blue:#4267B2;
    --instagram_purple:#8a3ab9;
    --pinterest_red:#E60023;
    --customerGreen:rgba(0, 71, 10, 0.63);
    --customeBrown:rgb(109, 54, 18);
}

html{

    margin: 0;
    padding: 0;
    min-height: 100%;
    scroll-behavior: smooth;
}
body{

    margin: 0;
    padding: 0;
    background-color: var(--customerGreen);
   
}
.logo{

    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    left: 15%;
    top: 4%;
}
.logoCircle{

    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--customerGreen);
    position: absolute;
    left: 13%;
    z-index: -1;
    top: 2%;
}
/*section 1 styling*/
section{

    box-sizing: border-box;
    height: 100vh;
    
}


.section1 .content{

    height: 100vh;
    width: 100%;
    background: rgba(250, 24, 24, 0);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    position: absolute;
    top: 0;right: 0;
   
    
}
.section1 .content nav span{

    color: white;
}

.section1 nav{
    display: flex;
    justify-content:space-around;
    height: 80px;
    width: 80%;
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 71, 9, 0);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.3);
animation-name: slideIn;
animation-duration: 3s;
    
}
@keyframes slideIn{

    from{
        top: -50%;
    }
}

.section1 nav ul{

    display: inline-block;
}
.section1 nav ul li{

    list-style: none;
    letter-spacing: 2px;
    float: left;
    width: 136px;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.section1 nav ul li a{
    
    line-height: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.829);
 
}

.section1 nav ul li .active{
    
    color: white;
 
}

.dropdown{

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}
.dropdown li{

    background: transparent;
    display: none;
}
.dropdown li:hover{

    background:var(--customerGreen);
}


.section1 h1{
    text-shadow: 3px 5px 10px rgb(1, 31, 11);
    font-size: 40px;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%,-50%);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}
.section1 p{

    width: 580px;
    height: 150px;
    font-size: 20px;
   
    border-width: 1px;
    border-radius: 10px;
    font-weight:90;
    text-shadow: 5px 3px 10px black ;
    padding: 2px;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 30%;
    transform:translate(-50%,-50%);

}

.section1 img{

    position: absolute;
    bottom: 0;
    right: 0;
    height: 120%;
   
    width: 37%;
}

.circle{

    background: var(--customeBrown);
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: -7%;
    transform: translate(-50%,-50%);
    box-shadow: 20px 1px 10px rgba(0, 0, 0, 0.753);
    animation-name: circleAnimate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes circleAnimate {

    0%{
        background: var(--customeBrown);
    }
    20%{
        background:  #381e0d;
    }
    40%{
        background:  #4B3621;
    }
    60%{
        background-color:  #B5A642;
    }
    80%
    {
        background:#D2B48C;
    }
    
}
.section1 button{
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--customeBrown);
    border: 1px solid transparent;
    transition: all .3s;
    box-shadow: 6px 6px 12px #000000a8,
                -6px -6px 12px #0000009a;
}

.section1 button:hover{
    border: 1px solid white;
}

.section1 button:active{
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff;
}

/* starting section 2 styling*/

.section2 .lady{

    height:100%;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section2{
    background: rgba(1, 43, 1, 0.699);
    overflow: hidden;
}
.section2 .container{
    display: flex;
    justify-content:space-around;
    height: 350px;
    width: 90%;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    
}

.section2 .container .card1 {

    height: 150px;
    width: 200px;
    position: absolute;
    top:30%;
    left: 10%;
    transform: translate(-50%,-50%);
    background: #B5A642;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);


}

.card1 img{

    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.section2 .container .card2{

    height: 150px;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    background: var(--customeBrown);
    border: 1px solid rgba(255, 255, 255, 0.3);

}
.section2 .container .card2:hover{
    box-shadow: 4px 4px 30px rgba(0, 184, 9, 0.562);
}
.card2 img{

    height: 115%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section2 .container .card3{

    height: 150px;
    width: 200px;
    position: absolute;
    top: 30%;
    right: 15%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    background: #6F4E37;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.card3 img{

    height: 150%;
    

}

.card3 h2{

    color: white;
}
.section2 .container .card4{

    height: 150px;
    width: 200px;
    position: absolute;
    top: 30%;
    right: -5%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    background: #996515;

}
.card4 img{

    height: 115%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section3 h1{
color: white;
font-family:cursive;
border-style: solid;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 50%;
font-size: 30px;
}




.section4{
    background: rgba(1, 43, 1, 0.699);
}

